body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-image: url("../Images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

/* Början av Header styling */

.header-navigation a {
    color: white;
    font-family: poppins;
}

h1 {
    color: white;
    text-align: left;
    padding-left: 50px;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #0362bb60;
    border-radius: 10px;
    margin-top: 1rem;
    margin: 50px 50px;
    box-shadow: 0 0 10px #0362bb60;
}

.header-navigation {
    display: flex;
    gap: 3rem;
    padding-right: 50px;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.header-navigation :hover {
    color: rgb(253, 252, 252);
    text-shadow: 0 0 8px rgb(252, 252, 252);
}

a h1:hover {
    color: rgb(253, 252, 252);
    text-shadow: 0 0 8px rgb(252, 252, 252);
}

/* Början av main Styling */
.main-navigation a {
    color: white;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

#find {
    background-color: rgb(255, 196, 0);
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(207, 160, 4);
    border-width: 2px;
    padding: 1rem;
    padding-left: 3.5rem;
    padding-right: 2.5rem;
    margin-right: 4rem;
    color: black;
    font-family: poppins;
    font-size: 1rem;
    font-weight: bold;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
    box-shadow: 0 0 10px rgb(255, 196, 0);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.main-navigation #find:hover {
    background-color: rgb(200, 214, 6);
    color: rgb(0, 0, 0);
    transform: translateY(-2px);
}

#help {
    background-color: #0362bb50;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #0362bb60;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-left: 2rem;
    color: white;
    font-family: poppins;
    font-size: 1rem;
    font-weight: bold;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
    box-shadow: 0 0 10px #0387bb50;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.main-navigation #help:hover {
    background-color: #02b7ff50;
    color: rgb(247, 247, 247);
    transform: translateY(-2px);
}

span {
    margin-left: 1.5rem;
}

h2 {
    color: white;
    text-align: center;
    font-size: 4.5rem;
    font-family: poppins;
    margin-bottom: 1.5rem;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

.support-text {
    color: white;
    text-align: center;
    font-size: 2rem;
    width: 650px;
    margin: auto;
    margin-bottom: 2.5rem;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

/* Support cards sektionen */
.support-cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 150px;
    gap: 40px;
}

.support-card1,
.support-card2,
.support-card3 {
    background-color: #0362bb25;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #0362bb60;
    padding: 20px;
    width: 500px;
    box-sizing: border-box;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
    transition: background-color 0.5s ease, color 0.5s ease;
}

.support-cards h2{
    color: white;
    font-size: 23px;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

.support-cards p {
    color: white;
    padding-left: 6.5rem;
    font-size: 20px;
    width: 300px;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

.support-card1:hover,
.support-card2:hover,
.support-card3:hover {
    background-color: #02b7ff50;
    color: rgb(0, 0, 0);
    transform: translateY(-2px);
}

.support-cards img {
    background-color: #029aff50;
    padding: 1rem;
    border-radius: 100px;
    width: 40px;
}

.support-heading {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.support-card1 {
    padding-bottom: 44px;
}

/* Hotline sida */
.hotline-text {
    color: white;
    text-align: center;
    font-size: 2rem;
    width: 700px;
    margin: auto;
    margin-bottom: 2.5rem;
}

#country {
    display: block;
    margin-left: 600px;
    padding: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid rgb(255, 208, 0);
    background-color: yellow;
    color: black;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}